@{
    var since = 1997;
    ViewData["Title"] = "About";
}

<img src="https://www.impactbnd.com/hubfs/blog-image-uploads/best-about-us-pages.jpg" width="550px" height="400px" alt="Alternate Text" />
<h1 style="color:hotpink">This is About page since: @since</h1>