@{ 
    Layout = null;
}
<h1 style="color:crimson">This is default Page</h1>
<h4>You can use home/content path to go to default page or type nothing</h4>
<h2 style="color:darkolivegreen">To go About page use: home/about or*** about-us</h2>
<h2 style="color:goldenrod">To go Contact page use: home/contact or*** contact-us</h2>
<h2 style="color:indianred">To go View page use: home/views</h2>
<h2 style="color:darkkhaki">To go Detail page use: home/detail</h2>