@{
    var number = 0551112233;
    ViewData["Title"] = "Contact";
}

<img src="http://www.wrigglesolutions.com/images/contact-us.jpg" width="550px" height="400px" alt="Alternate Text" />
<h1 style="color:hotpink">This is Contact page and our number is: @number</h1>