<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 style="color:darkseagreen">I AM SAME HEADER &#128483</h1>
    @RenderBody()
<h1 style="color:yellowgreen">I AM SAME FOOTER &#129462 </h1>
</body>
</html>
